target
.settings
.project
.classpath
.svn
.DS_Store
*.iml
.idea
/out
/.idea/ant.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/compiler.xml
/.idea/libraries/Maven*.xml
/.idea/artifacts/*.xml
/*.iws
antx.properties
logs
*.log
*.bak
hsf.configuration
dc-web/config_monitor.log.*
